{% extends "encyclopedia/layout.html" %}

{% block title %}
Encyclopedia - {{ title_action }}
{% endblock %}

{% block body %}
<h1 class="text-lg font-semibold font-wiki">{{ title_action }}</h1>
<p class="text-gray-700 mb-4">Completa la información para {{ action }} en la wiki.</p>

<form action={% if is_editing %}{% url 'edit_page' entry %}{% else %}{% url 'new_page' %}{% endif %} method="post" id="new-page-form" class="w-5/6 border border-gray-200 p-4 rounded-lg">
    {% csrf_token %}
    {% for _, errors in form.errors.items %}
        <ul>
            {% for error in errors %}
                <li class="mb-4 bg-red-100 border border-red-50 text-sm text-red-800 rounded-lg p-4" >
                    {{ error }}
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
    {% for field in form %}
        {{ field.label_tag }}
        {{ field }}
    {% endfor %}
    
    <div class="flex space-x-4 justify-end">
        <a href="{% url 'index' %}"
            class="flex items-center space-x-2 bg-red-600 hover:bg-red-700 text-white py-1 px-2 rounded-lg text-sm">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" fill="currentColor">
                <path
                    d="M11.9997 10.5865L16.9495 5.63672L18.3637 7.05093L13.4139 12.0007L18.3637 16.9504L16.9495 18.3646L11.9997 13.4149L7.04996 18.3646L5.63574 16.9504L10.5855 12.0007L5.63574 7.05093L7.04996 5.63672L11.9997 10.5865Z">
                </path>
            </svg>
            <p>Cancelar</p>
        </a>

        <button type="submit"
            class="flex items-center space-x-2 bg-blue-600 hover:bg-blue-700 text-white py-1 px-2 rounded-lg text-sm">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" fill="currentColor">
                <path
                    d="M7 19V13H17V19H19V7.82843L16.1716 5H5V19H7ZM4 3H17L21 7V20C21 20.5523 20.5523 21 20 21H4C3.44772 21 3 20.5523 3 20V4C3 3.44772 3.44772 3 4 3ZM9 15V19H15V15H9Z">
                </path>
            </svg>
            <p>Guardar</p>
        </button>
    </div>
</form>

{% endblock %}