{% extends "encyclopedia/layout.html" %}
{% block title %} 
    Encyclopedia 
{% endblock %} 

{% block body %}
    <h1 class="text-lg font-semibold font-wiki">Páginas disponibles</h1>
    <p class="text-gray-700 mb-4">{{ entries |length }} página(s) disponible(s)</p>

    <ul class="flex flex-wrap gap-10">
        {% for entry in entries %}
            <li class="border border-gray-200 rounded-lg p-12">
                <a href="/wiki/{{entry}}/">{{ entry }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}